<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a style="padding-right: 2em;" class="navbar-brand" href="/">IT572-THFSS</a>
        <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/getallsuppliers">Suppliers</a>
                </li>

                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                    <a class="nav-link" href="/allproduct"> Products</a>
                </li>
                <!--                <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">-->
                <!--                     <a class="nav-link" href="#"> Update Student Register</a>-->
                <!--                </li>-->
            </ul>
            <!--            <form th:action="@{/postEndpoint}" th:object="${mymodelobject}">-->
            <!--                <input name="myid" type="text" th:value="*{myid}">-->
            <!--            "@{'/update/' +${updateStudent.getStudentId()}}"-->
            <!--            </form>-->
            <!--/*@thymesVar id="searched" type=""*/-->
            <!--            <a th:href="@{/getStudent(id=${(student.getStudentId())})}" th:text="${(student.getStudentNumber())}"></a>-->
<!--            <form class="form-inline my-2 my-lg-0" th:object="${searched}"  th:action="@{/search}" method="get">-->
<!--                <label>-->
<!--                    <input class="form-control mr-sm-2" type="text" placeholder="Search" th:name="searchWord">-->
<!--                </label>-->
<!--                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>-->
<!--            </form>-->
        </div>
    </nav>
</header>

<p>&nbsp;</p>
<div class="container">
    <h1> Welcome to the Supplier Relationship Management System (SRM)  </h1>

    To create and manage <a href="/supplierform">  Suppliers</a>  and <a href="/productform"> Products</a>, please first make sure to read the instructions and key points provided below. And then chick the appropriate menu item located on the menu bar above.

</div>


<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>


